{% extends 'base.html' %}
{% block body %}
<div>
    <p class="text-center my_search_text">You have searched for <b>"{{query}}"</b></p>
</div>

<div class="container">
    <div class="row mx_auto">
        {% for movie in movies %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card text-center " style="min-width:18em">
                    <a href="{{movie.get_url}}">
                        <img class="card-img-top my_image" src="{{movie.poster.url}}" alt="{{movie.title}}" width="100px" height="120px"></a>
                </div>
                <div class="card-body">
                    <h4>{{movie.title}}</h4>
                    <p>{{movie.description}}</p>
                    <a href="{% url 'movie:movie_details' movie.id %}" class="btn btn-secondary btn-sm">View</a>
                    <a href="{% url 'movie:movie_review' movie.id %}" class="btn btn-info btn-sm">Review</a>

                </div>
            </div>
        </div>

        {% empty %}
        <div class="row mx_auto">
            <p class="text-center my_search_text">0 Results Found</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}